.mouse {
    position: absolute;
    top: -350%;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #b6eee1;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .mouse::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #b6eee1;
    border-radius: 100%;
    -webkit-animation: sdb10 4s infinite;
    animation: sdb10 3s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
.rainbow{
  animation: rainbow 3s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0%, 100%
  {color: #b6eee1;}
  20%
  {color: #34cfaa;}
  40%
  {color: #9e34cf;}
  60%
  {color: #ffda34;}
  80%
  {color: #cf3449;}
  
}

/**
  * Component: Button
  * --------------------------------------------------
  */
  .c-button {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: visible;
    background-color: transparent;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s linear;
  }
  .c-button:hover, .c-button:focus {
    text-decoration: none;
    outline: none;
  }
  .c-button:not(:disabled) {
    cursor: pointer;
  }
  .c-button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  /**
    * Component: Button
    * Modifier: Menu
    * --------------------------------------------------
    */
  .c-button--menu {
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 0;
    line-height: 0;
  }
  .c-button--menu:before, .c-button--menu:after,
  .c-button--menu .c-button__icon,
  .c-button--menu .c-button__icon:before {
    position: absolute;
    width: 60px;
    height: 6px;
    background: #1d7b64;
    transition: all 0.2s ease;
  }
  .c-button--menu:before, .c-button--menu:after {
    content: "";
    left: 0;
    right: 0;
  }
  .c-button--menu:before {
    top: 10px;
  }
  .c-button--menu:after {
    bottom: 10px;
  }
  .c-button--menu .c-button__icon {
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -3px;
  }
  .c-button--menu .c-button__icon:before {
    content: "";
    top: 0;
    left: 0;
  }
  .c-button--menu.is-active:before {
    left: 100%;
    width: 0;
  }
  .c-button--menu.is-active:after {
    right: 100%;
    width: 0;
  }
  .c-button--menu.is-active .c-button__icon {
    transform: rotate(45deg);
  }
  .c-button--menu.is-active .c-button__icon:before {
    transform: rotate(90deg);
  }

/* svg blobs masks */

.b2 
{
  -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiMzMUNDQTciIGQ9Ik01MC44LC01Ni43QzY2LjgsLTQ3LjEsODEuNSwtMzIsODYuOSwtMTMuNUM5Mi4zLDUsODguNSwyNyw3Ni44LDQxLjZDNjUuMSw1Ni4zLDQ1LjUsNjMuOCwyNS44LDcxQzYuMSw3OC4yLC0xMy43LDg1LjEsLTI5LDc5LjZDLTQ0LjQsNzQuMSwtNTUuMiw1Ni4xLC02NS42LDM4Qy03Ni4xLDE5LjgsLTg2LjEsMS40LC04My4yLC0xNC42Qy04MC4yLC0zMC42LC02NC40LC00NC4zLC00OC40LC01My44Qy0zMi40LC02My40LC0xNi4yLC02OC44LDAuNiwtNjkuNUMxNy40LC03MC4yLDM0LjgsLTY2LjIsNTAuOCwtNTYuN1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
}