@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
:root 
{
    /* variaveis globais do css */
}

#topo
{
    width: 100%;
    height: 200px;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
}
#topo nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#topo a
{
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.1em;
    
    transition: all .5s;
}
#topo a:hover
{
    color: tomato;
}
#banner
{
    width: 100%;
    height: 100%;
}
#banner .wrapper
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    transition: 1s;
}
.wrapper.active
{
    z-index: -1 !important;
}
.wrapper h1
{
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5em;
}
h1>span:nth-child(1)
{
    position: relative;
    left: .53em;
}
.wrapper .red
{
    display: inline;
    color: #ff0000;
}

#video
{
    position: sticky;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    z-index: -1;
}
#logo
{
    width: 300px;
    height: 200px;
    background-color: #ff000070;
}


.sobre,
.servico,
.duvidas,
.artistas
{
    position: relative;
    top: 0;
    left: 0;
}

.site {
    width: 100%; /*Largura*/
    max-width: 1200px; /*Largura máxima*/
}
.topo {
    display: flex; /*Colocar os itens uns ao lado dos outros*/
    justify-content: space-between; /*Espaçamento central entre os itens*/
}

/* Começo SOBRE - O QUE É */
.sobre {
    padding: 100px 0 0 0;
    display: flex;
    justify-content: center;
}
.sobre img {
    width: 630px;
    height: 440px;
    margin-right: 25px;
}
.sobre h2{
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5em;
    margin: 0 25px;
}

.sobre h2 span {
    color: #7B1D1D;
}

.sobre h3 {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.0em;
    margin: 10px 25px 5px;

}
.sobre p{
    margin: 5px 25px;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: justify;
}

.sobre .site .topo div {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Fim SOBRE - O QUE É */

/* Começo COMO FUNCIONA */
#etapas {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin: 0 auto;
}
#etapas p{
    width: 300px;
    margin-bottom: 30px;
}
#etapas h2 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 3.0em;
    margin-bottom: 70px;
    text-align: center;
}

#etapas #conteudoEtapas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
#etapas #conteudoEtapas div {
    width: 280px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border: solid #EDEDED 1px;
    transition: all 1s;
}
#etapas #conteudoEtapas div img {
    width: 100px;
    height: 100px;
    background: red;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    margin-top: -40px;
    margin-left: 35px;
}



#etapas #conteudoEtapas .ativo{  
color: #643d27;
}

#etapas #conteudoEtapas a:hover{
color: #643d27;
transition: all 0.50s ease;
}

#etapas #conteudoEtapas h5 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#etapas #conteudoEtapas p{
    width: fit-content;
    height: auto;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    text-align: justify;
}

#conteudoEtapas div:hover{
    background: #f8f8f8;
    transition: all 0.50s ease;
}
/* Fim ETAPAS */

/* convém aninhar tipo em etapas? */
#tipo{
    padding: 100px 0;
}
#tipo article
{
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-family: "Comfortaa", cursive;
    font-size: 1.5em;
}
#tipo span
{
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
    padding: 1em 1.8em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;

    font-size: 15pt;

    color: #fff;
    cursor: pointer;

    border-radius: 100px;
    background-color: #7B1D1D;
}
#tabela,
.fechar
{   
    width: 0;
    height: 0;
    transition: 1s;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    position: absolute;
    left: 50%;
}
#tabela.active
{
    width: 80vh;
    height: 80vh;
    top: 5%;
    
    display: flex;
    justify-content: center;

    background-color: red;
    /* abaixo propriedades relevantes para animação */
    cursor: initial;
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%) scale(1);
    opacity: 1;
    box-shadow: 0 0 0 150vh #00000030; /* fundo */
    transition-property: box-shadow;
    transition-duration: 1s;
}
#tabela .fechar.active
{
    display: block;
    position: relative;
    top: 100%;
    left: 50%;

    opacity: 1;
    transform: scale(1) translateX(-50%)!important;
}

/* fim TABELA */

.secaoServico {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}
.secaoServico  p {
    margin-bottom: 20px;

}
.secaoServico  h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 40pt;
    margin-top: 20px;
    margin-bottom: 30px;
}
.secaoServico .site .topo .servicoDescricao {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
}
.secaoServico .site .topo img{
    display: flex;
    width: 280px;
    height: 380px;
    margin: 10px;
    align-self: flex-end;
}
.secaoServico h3{
    align-self: flex-end;
    margin: 10px;
    background: #8C5637;
    width: 100px;
    padding: 20px;
    height: fit-content;
    color: white;
    margin-left: -150px;
    text-align: center;
    font-size: 50pt;
}
.secaoServico h3:hover{
    background: #643d27;
    transition: all 0.50s;
    transform: scale(1.5);
}
  
.locais {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.locais p{
    width: 300px;
    margin-bottom: 30px;
}
.locais .site h2 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 3.0em;
    margin-bottom: 70px;
    text-align: center;
}

.locais .site .conteudoLocais {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}
.locais .site .conteudoLocais div {
    width: 380px;
    height: auto;
    margin: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    transition: all 1s;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.locais .site .conteudoLocais div img {
    width: 380px;
    height: 250px;
    background: red;
}

.locais .site h5 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    margin: 20px 10px 10px 10px;
}
.locais .site .conteudoLocais p{
    width: fit-content;
    height: auto;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    text-align: justify;
    margin: 10px;
}

.conteudoLocais div:hover{
    background: #f8f8f8;
    transition: all 0.50s ease;
}

.direitos{
    height: 50px;
    width: 100%;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direitos p{
    font-size: 10pt;
    color: white;
}
.direitos span{
    color: #c57474;
}