@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800&display=swap');

/*  font-family: 'Comfortaa', cursive;
    font-family: 'Roboto Flex', sans-serif;
 */

:root 
{
    /* variaveis globais do css */
}

p{font-weight: 200;}

#topo
{
    width: 100%;
    height: 200px;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
}
#topo nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#topo a
{
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-smooth: always;
    
    transition: all .5s;
}
#topo a:hover
{
    color: #34cfaa;
}
#logo
{
    width: 300px;
    height: 200px;
    background-color: transparent;
}
#banner
{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
}
#banner .wrapper
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    transition: 1s;
}
.wrapper.active
{
    z-index: -1 !important;
}
.wrapper h1
{
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5em;
}
h1>span:nth-child(1)
{
    position: relative;
    left: .53em;
}
.wrapper .green
{
    display: inline;
    color: #36dbb4;
}

.wrapperVideo
{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    
    position: relative;
    top: 50%; left: 0 ;
    transform: translateY(-50%);

    border-radius: 8vw;
    overflow: hidden;
    z-index: -2;
}
.neumorphism /* efeito sombreado */
{
    
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%; left: 50% ;
    transform: translate(-50%, -50%);
    z-index: -3;

    content: '';
    overflow: visible;
    border-radius: 8vw;
    background: linear-gradient(145deg, #38ddb6, #2fba99);
    box-shadow:  20px 20px 60px #2cb091,
                -20px -20px 60px #3ceec4;
}
#banner>a
{
    position: absolute;
    top: 88vh; left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    z-index: 10;

    font-family: 'Nunito', sans-serif;
    color: #b6eee1;
    text-decoration: none;
}
#video
{
    position: absolute;
    top: 0;    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    min-height: 100%;

    z-index: -1;
}
.wrapperVideo::before
{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 10;

    opacity: .2;
    background-color: #000;
}
#slogan
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#slogan p
{
    position: relative;
    top: 0; left: 0;
    z-index: 100;
    opacity: 0;

    color: white;
    font-family: 'Nunito';
    font-weight: 500 !important;
    font-size: 2em;
    white-space: nowrap;
}
#slogan span
{
    position: relative;
    top: 0; left: 0;
    font-weight: 700;
}
#slogan .sublime
{
    width: 0;
    height: 3px;
    position: absolute;
    top: 95%; left: 0;

    border-radius: 1px;
    background-color: #C4C4C4;
}
#slogan .pp1{top:1em;}
#slogan .pp2{color: #b6eee1;}
#slogan .pp3
{
    top:-1em;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}
.bkgBanner
{
    width: 100% !important;
    height: auto;
    position: absolute;
    top: -20%; left: 0;
    z-index: -10;

    display: flex;
    justify-content: start;
    align-items: flex-start;
}
#superexposed
{
    position: absolute;
    top: -21vw; left: -100%;
    transform: translateX(60%) scale(.3);
    z-index: 998;

    

}
.bkgBanner img:nth-child(2)
{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0; left: 0;
    z-index: -3;

}


.sobre,
.servico,
.duvidas,
.artistas
{
    position: relative;
    top: 0;
    left: 0;
}

.site {
    width: 100%; /*Largura*/
    max-width: 1200px; /*Largura máxima*/
}
.topo {
    display: flex; /*Colocar os itens uns ao lado dos outros*/
    justify-content: space-between; /*Espaçamento central entre os itens*/
}

/* Começo SOBRE - O QUE É */
.sobre {
    margin: 100px 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}
.sobre .oProjeto
{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1.3fr 1fr 0.6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."
        ". ."
        "blob blob"; 
}
.sobre img {
    width: 630px;
    height: 440px;
    margin-right: 25px;

    position: relative;
    top: 5%; left: 0;

    border-radius: 0 45% 45% 0;
    background: linear-gradient(145deg, #c3fff2, #a4d6cb);
    box-shadow:  20px 20px 60px #93c1b7,
                -20px -20px 60px #d9ffff;
}
.sobre h2{
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5em;
    margin: 0 25px;
}

.sobre h2 span {
    color: #36dbb4;
}

.sobre h3 {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.3em;
    margin: 10px 0 5px 157px;

}

.sobre p{
    padding: 12% 5% 0 5%;
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
    font-size: 1.5em;
    line-height: 130%;
    letter-spacing: 1px;
    text-align: justify;
}
.oProjeto div>p
{
    font-size: 2em;
}
.oProjeto stronger
{
    font-weight: 400;
}
.oProjeto .blob
{
    grid-area: blob;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.blob .b1, .b2, .b3
{
    width: clamp(50px, 100%, 250px);
    height: clamp(50px, 100%, 250px);
}
.blob .b1
{
    position: relative;
    top: -15%; left: 5%;
}

/* Fim SOBRE - O QUE É */

/* Começo COMO FUNCIONA */
#etapas {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
    background:#f7f7f7;
}
#etapas p{
    width: 300px;
    margin-bottom: 30px;
}
#etapas h2{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 3.0em;
    margin-bottom: 70px;
    text-align: center;
}

#etapas #conteudoEtapas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
#etapas #conteudoEtapas div {
    width: 280px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    border: solid #EDEDED 1px;
    transition: all 1s;
}
#etapas #conteudoEtapas div img {
    width: 100px;
    height: 100px;
    background: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    margin-top: -40px;
    margin-left: 35px;
}

#etapas #conteudoEtapas h5 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#etapas #conteudoEtapas p{
    width: fit-content;
    height: auto;
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    text-align: justify;
}

#conteudoEtapas div:hover{
    background: #fff;
    box-shadow: 1px 1px 20px 1px rgba(36, 36, 36, 0.137);
}
/* Fim ETAPAS */

/* convém aninhar tipo em etapas? */
#tipo{
    background:#f7f7f7;
    padding-bottom: 100px;
}

#tipo article
{
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-family: "Comfortaa", cursive;
    font-size: 1.5em;
}
#tipo span
{
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
    padding: 1em 1.8em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;

    font-size: 15pt;

    color: white;
    cursor: pointer;

    border-radius: 100px;

    background-color: #31cca7;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#tipo p{
    text-align: justify;
    line-height: 130%;
    font-family: 'Roboto Flex', sans-serif;
}
#tabela,
.fechar
{   
    transition: 1s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
}
#tabela
{
    border-radius: 20px 20px 0 0;
    height: 80vh;
    top: 5%;
    
    display: flex;
    justify-content: center;

    background-color: transparent;

    /* abaixo propriedades relevantes para animação */
    cursor: initial;
    position: fixed;
    z-index: 999;
    left: 50%;
    box-shadow: 0 0 0 150vh #00000030; /* fundo */
    transition-property: box-shadow;
    transition-duration: 1s;
}
#tabela .fechar
{
    display: block;
    position: relative;
    top: 100%;
    left: 40%;
    transform: scale(1) translateX(-50%)!important;
}

table{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    margin-right: -160px;
}
tr{
    height: 80px;
    width: 285px;
}
th{
    background: white;
}


#bordaT01{
    border-radius: 20px 0 0 0;
}
#bordaT02{
    border-radius: 0 20px 0 0;
}

  
td, th{

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    width: 250px;
    padding: 31px 15px 15px;
}
tr:nth-child(even) {
    background: white;
  }

tr:nth-child(odd) {
    background: #f2f2f2;
  }


/* fim TABELA */

#doadores {
    padding: 100px 0;
}
#doadores article{
    margin: 0 auto;
    font-family: "Comfortaa", cursive;
    font-size: 1.5em;
}
#doadores p {
    width: 600px;
    margin: 10px 20px 20px 0;
    text-align: justify;
    line-height: 130%;
    font-family: 'Roboto Flex', sans-serif;
}
#doadores h2 {
    font-size: 40pt;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
#doadores article .doadoresTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#doadores article .topo img{
    display: flex;
    width: 280px;
    height: 380px;
    margin: 10px;
    align-self: flex-end;
    background: #31cca7;
}
#doadores .doadoresTxt span
{
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
    padding: 1em 1.8em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;

    font-size: 15pt;

    color: #fff;
    cursor: pointer;

    border-radius: 100px;
    background-color: #31cca7;
}


.locais {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background:#f7f7f7;
}
.locais p{
    width: 350px;
    margin-bottom: 30px;
}
.locais .site h2 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 3.0em;
    margin-bottom: 70px;
    text-align: center;
}

.locais .site .conteudoLocais {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.locais .site .conteudoLocais div {
    width: 350px;
    height: auto;
    margin: 10px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    border: solid #EDEDED 1px;
    transition: all 1s;
    background: #fff;
    
}
.locais .site .conteudoLocais div img {
    width: 350px;
    height: 200px;
    background: black;
    transition: all 1s;
}
.locais .site h5 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;
    margin: 20px 10px 10px 10px;
    height: 45px;
    transition: all 1s;
    color: black;
}
.locais .site .conteudoLocais p{
    width: fit-content;
    height: auto;
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    text-align: justify;
    margin: 10px;
    height: 110px;
    color: black;
}

.conteudoLocais div:hover{
    box-shadow: 1px 1px 20px 1px rgba(36, 36, 36, 0.137);
}

/* .conteudoLocais div img:hover{
    filter: grayscale(80%);
} */

.conteudoLocais div h5:hover{
    color: #31cca7;
}


#mais{
    padding-bottom: 100px;
    background:#f7f7f7;
}

#mais article
{
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-family: "Comfortaa", cursive;
    font-size: 1.5em;
}
#mais span
{
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
    padding: 1em 1.8em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;

    font-size: 15pt;

    color: #fff;
    cursor: pointer;

    border-radius: 100px;
    background-color: #31cca7;
}
#mais p{
    text-align: justify;
    line-height: 130%;
    font-family: 'Roboto Flex', sans-serif;
}

.palestra{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    padding: 5% 0 10% 0;
}
.palestra h2{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 3.0em;
    text-align: start;
    margin-top: 30px;
    margin-bottom: 40px;
}
.palestra .conteudoPalestra{
    display: flex;
    justify-content: space-between;
}
.palestra .contato{
    width: 420px;
}
.palestra .contato .blocos{
    width: 420px;
    height: 80px;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-start;
}
.palestra .contato .blocos:nth-child(1){
    margin-top: 5%;
}
.palestra .contato .blocos .icon{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.palestra .contato .blocos .desc h5{
    font-size: 15px;
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 10px;
}
.palestra span{
    color: #31cca7;
}
.palestra .contato .blocos .desc p{
    margin-top: 10px;
    width: 320px;
    height: 40px;
    font-size: 15px;
    line-height: 150%;
    font-family: 'Roboto Flex', sans-serif;
}
.palestra .palestraImg{
    width: 590px;
    height: 350px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.palestra .iframe
{
    width: 100%;
    height: 100%;
}
.rodape
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    background: #1b7560;
    padding: 100px 0;
}
.rodape nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rodape a
{
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.1em;
    
    transition: all .5s;
}
.rodape a:hover
{
    color: #b6eee1;
}
.direitos{
    height: 50px;
    width: 100%;
    background: #0b332a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.1em;
}
.direitos p{
    font-size: 10pt;
    color: white;
}
.direitos span{
    color: #b6eee1;
}