@media (max-width: 425px){

header{display: none}

#banner
{
    overflow: visible;
}
.wrapperVideo
{
    width: 100%;
    height: 70vh;
    top: 0;
    transform: translateY(0);
    border-radius: 0;
}
#video{height: 100%;}
.bkg.primeiro
{
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.bkg.primeiro img
{
    width: 250vw !important;
    height: auto;
    position: relative;
    top: -1%;
}
#slogan
{
    justify-content: flex-end;
    position: relative;
    top: -15%;
}
#slogan p
{
    width: 80vw;
    font-size: clamp(.5em, 10vw, 1.5em);
    white-space: normal;
    text-align: center;
}

.mouse
{
    border-radius: 7px !important;
    transform: rotate(180deg) !important;
}

.iniciativa{margin: 15vw 0;}
.iniciativa>article
{
    height: fit-content;
    flex-direction: column-reverse; 
    overflow: visible;
}
.iniciativa h2 
{
    padding: 0 15vw;
    margin: 0 !important;
    font-size: clamp(.7em, 11vw, 2.5em);
    line-height: 1.1em;
}
.iniciativa h2:nth-child(2)
{
    margin-left: 1.5em !important;
}
.iniciativa p 
{
    margin-top: 10vw;
    padding: 10vw;
    font-smooth: always;
}
.iniciativa article>div
{
    width: 100%;
    height: 100%;
}
.iniciativa article>div:nth-child(1)
{
    padding-top: 20%;
    overflow: hidden;
}
.iniciativa img
{
    width: 133%;
    border-radius: 0;
    left: -1%;
}
.sobre .oProjeto{
    flex-direction: column;
    display: flex;
}

.sobre{margin: 30vw 0; overflow: hidden;}
.sobre h2
{
    font-size: clamp(.7em, 11vw, 2.5em);
    padding: 15vw;
}
.sobre p,
#tipo p 
{
    padding: 5vw;
    margin: 5vw !important;
    position: relative;
    z-index: 1;
}
#tipo p{line-height: 1.6em;}
.oProjeto
{
    display: flex !important;
    flex-direction: column;
}
.blob
{
    height: 50vw !important;
}
.b1
{
    position: absolute !important;
    top: 16% !important; left: -10% !important;
    z-index: 0;
}
.b3
{
    position: absolute !important;
    top: 43% !important; left: 55%;
    z-index: 0;
}
/* inicio carrosel swiperjs */
.swiper {
    width: 280px;
    height: 320px;
    margin-top: 10%;
  }
  
  .swiper-slide
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid #EDEDED 1px;
    transition: all 1s;
    background: #fff;
    overflow: visible !important;
  }
  .swiper-slide img {
      width: 100px;
      height: 100px;
      margin: -10% auto 0 auto;
      background-color: #2dbe9c;
      border-radius: 10%;
      box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 11%);
  }
  .swiper-slide h5 
  {
      padding-left: 1rem;
      font-family: 'Comfortaa';
      font-style: normal;
      font-weight: 400;
      font-size: 1.3em;
      margin-top: 20px;
      margin-bottom: 10px;
  }
  .swiper-slide p,
  .caption
  {
      width: fit-content;
      height: auto;
      padding: 0 1.5rem 1rem 1rem;
      font-family: 'Roboto Flex', sans-serif;
      font-style: normal;
      font-size: .9em;
      line-height: 130%;
      text-align: justify;
  }
  .caption
  {
      font-size: .8em;
      color: #1d7b64;
  }
  .swiper-pagination
{
    position: relative !important;
    bottom: -15px !important;
}
.swiper-pagination-bullet-active{background:#23967b !important}
/* fim carrosel swiperjs */

#tipo #tabela
{
    width: 80vw;
}

#doadores>.site{justify-content: center;}

#doadores article>div{max-width: 80%;}
#doadores h2{font-size: 30pt;}
#doadores .doadoresTxt p{
    width: auto;
    margin-left: 30px;
}
#doadores img{display: none !important;}

.beneficios h2,
#local h2{font-size: clamp(.7em, 11vw, 2.4em);}
.beneficios .oProjeto{
    display: flex;
    flex-direction: column;
}
.beneficios p 
{
    width: 80%;
    margin: 10px auto;
}

#local .wrapperLoc{padding: 10%;margin: 0 auto !important;}
.cardLoc h5{height: fit-content;}

#mais{padding: 0;}
#mais .site{
    align-items: center;
    width: 80%;
}
#mais .site p{
    margin-bottom: 20px;
}


.palestra{
    height: auto;
}
.palestra .contato{
    display: flex;
    justify-content: center;
}
.palestra .conteudoPalestra{flex-direction: column;}
.palestra .site .conteudoPalestra h2{
    text-align: center;
}
.palestra .contato .blocos{
    width: 95%;
    text-align: center;
}
.palestra .palestraImg{
    width: 95%;
}
.rodape{
    height: auto;
}
.rodape .site div img{
    width: 50%;
}
.direitos p{
    font-size: 8pt;
}


}

@media (min-width: 426px){
    #etapas #conteudoEtapas {
        width: 100%;
        display: flex;
        justify-content: space-between;
        justify-content: center;
    }
    #etapas #conteudoEtapas div {
        width: 280px;
        height: 300px;
        padding: 10px;
        margin: 10px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: solid #EDEDED 1px;
        transition: all 1s;
        background: #fff;
        
    }
    #etapas #conteudoEtapas div img {
        width: 100px;
        height: 100px;
        background-color: #2dbe9c;
        margin-top: -40px;
        margin-left: 35px;
        border-radius: 10%;
        box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 11%);
    }
    
    #etapas #conteudoEtapas h5 {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 1.3em;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    #etapas #conteudoEtapas p,
    .caption
    {
        width: fit-content;
        height: auto;
        font-family: 'Roboto Flex', sans-serif;
        font-style: normal;
        font-size: .9em;
        line-height: 130%;
        text-align: justify;
    }
    #etapas p{
        width: 300px;
        margin-bottom: 30px;
    }
    #etapas .caption
    {
        font-size: .8em;
        color: #1d7b64;
    }
    
    #conteudoEtapas div:hover{
        background: #fff;
        box-shadow: 1px 1px 20px 1px rgba(36, 36, 36, 0.137);
    }
}